<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nemesis.droidcrypt">

    <!-- Storage (только для API <= 30) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="30"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Bluetooth (старые разрешения для совместимости до API 30) -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Bluetooth (новые разрешения начиная с API 31 / Android 12) -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="34">

        <!-- MainActivity -->
        <activity
        android:name=".MainActivity"
        android:theme="@style/AppTheme"
        android:exported="true">
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
        </activity>

        <!-- ChatActivity -->
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize" />

        <!-- SettingsActivity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SettingsTheme"
            android:configChanges="orientation|screenSize" />

        <!-- PostsActivity -->
        <activity
            android:name=".PostsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize" />

        <!-- SplashActivity -->
        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize" />

        <!-- SetupActivity -->
        <activity
            android:name=".SetupActivity"
            android:exported="false"
            android:parentActivityName=".ChatActivity"
            android:theme="@style/SetupTheme"
            android:configChanges="orientation|screenSize" />

        <!-- VprActivity -->
        <activity
            android:name=".VprActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/VprTheme"
            android:configChanges="orientation|screenSize" />

                <activity
            android:name=".StreetFoodActivity"
            android:exported="false"
            android:parentActivityName=".EggActivity"
            android:theme="@style/StreetFoodTheme"
            android:configChanges="orientation|screenSize" />

                        <activity
            android:name=".TemplateActivity"
            android:exported="false"
            android:parentActivityName=".TemplateActivity"
            android:theme="@style/VprTheme"
            android:configChanges="orientation|screenSize" />

    </application>
</manifest>
